# Ignore all .htm and .html files
*.htm
*.html

# Ignore all "node_modules" directories anywhere in the project
node_modules/

# Ignore all "dist" directories anywhere in the project
dist/
dist/src/

# Ignore packages for smaller code push
packages/

pnpm-workspace.yaml